link(rel="import", href="../../../bower_components/polymer/polymer.html")

polymer-element(name="app-logic", attributes="view")
  template
    style.
      :host {
        display: block;
      }

  script.
    (function () {
      Polymer({
        publish: {
            view: '',
            user: {},
        },

        ready: function() {
            this.view = 'splash-screen';
            document.app = this;
        },

        userChanged: function() {
            console.log(document.app.user);
            this.view = 'message-list';
        }
      });
    })();
