link(rel="import", href="../../../bower_components/polymer/polymer.html")

polymer-element(name="profile-screen", attributes="")
  template
    style.
      :host {
        display: block;
      }
    
  script.
    (function () {
      Polymer({
        // define element prototype here
      });
    })();
