link(rel="import", href="../../../bower_components/polymer/polymer.html")

polymer-element(name="splash-screen", attributes="")
  template
    div(cross-fade, fit)
      core-image(class="splash-image" src="http://lorempixel.com/1024/768/people" sizing="cover"
                 preload layout center-justified center horizontal)
      div(class="social-buttons" layout horizontal around-justified)
        google-signin(clientId="619614137462-jd18pca2v40f75clp7fuk0qe8g40r8pg.apps.googleusercontent.com"
                      scopes="https://www.googleapis.com/auth/plus.login"
                      on-google-signin-success="{{signinSuccess}}")
        paper-fab(icon="social-post:twitter")
        paper-fab(icon="social-post:facebook")

  script.
    (function () {
      Polymer({

        signinSuccess: function(result) {
            console.log(result);
            var gapi = result.detail.gapi;
            document.app.user = {
                name: result.detail.user.B.ha,
                avatar: result.detail.user.B.wc,
                username: result.detail.user.B.B,
            };
            // gapi.client.load('plus', 'v1', function() {
            //     var request = gapi.client.plus.people.get({
            //         'userId': 'me'
            //     });

            //     request.execute(function(resp) {
            //         // Some useful profile information is now available
            //         // via the returned object (resp). For example, we
            //         // can discover the displayName, skills and so on.
            //         console.info(resp);
            //         document.app.user = {
            //             name: resp.displayName,
            //             avatar: resp.image.url,
            //             username: resp.username,
            //             data: resp
            //         };
            //     });
            // });
        }

      });
    })();
