@import '../../bower_components/material-colors/dist/colors.scss';
@import 'splash-screen';
@import 'message-list';

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

